/*Declaro los headers para que todos tengan estas caracteristicas*/
.headers{
    color:rgb(101, 101, 64);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Aqui declaro los bodys para algunas paginas*/
body{
    background-color: white;
}
body.index{
    background-color: burlywood;
}
body.personaje-admiro{
    background-color: rgb(12, 25, 61);
}
/*Declaro como se veran las imagenes*/
img{
    text-align: right;
    border-radius: 200px;
    height: auto;
    width: 200px;
}
/*Declaracion de las tablas*/
.tablas{
    margin: auto;
    background-color: rgb(210, 174, 250);
    border: 1px solid black;
    border-collapse: collapse;
    width: 25%; 
}

.Contacto-header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80%;
    margin-left: 45%;
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 800px;
    margin: auto;
    color: antiquewhite;
}

.text{
    flex: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}